<h1>Alta Empleado</h1>

<div>

<label>Nombre Empleado: </label>
<input type="text" [(ngModel)]="e1.nombreEmpleado" placeholder="Escriba nombre y apellido del empleado">
<br>
<label>DNI</label>
<input type="text" [(ngModel)]="e1.dni" placeholder="DNI del empleado" >
<br>
<label>Sueldo</label>
<input type="text" [(ngModel)]="e1.sueldo" placeholder="Sueldo bruto mensual">
<br>
<button (click)="altaEmpleado()">Dar de alta</button>
<button (click)="altaEmpleadoHP()">Dar de alta padre hijo</button>

</div>