<h1>Tienda Online de Productos Informaticos</h1>
<div>
    <table>
        <tr>
            <th>ID producto</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>imagen</th>
            <th>precio en €</th>
        </tr>
        
            @for(elemento of productos; track elemento.productoID){

            <tr>
            <td>{{elemento.productoID}}</td>
            <td>{{elemento.nombre}}</td>
            <td>{{elemento.descripcion}}</td>
            <td><img width="100px" src="{{elemento.imagen}}" alt="{{elemento.nombre}}"></td>
            <td>{{elemento.precio}}</td>
        </tr>
        }
        
    </table>
</div>
